@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --defaultTextColor: rgb(37, 37, 37);
  --highlightColor: #8218bd;
  --darkerHighlight: #380951;
  --highlightGray: rgb(239, 239, 239);
  --highlightMagenta: #ff0055;
  --background: #faf3ff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
}

body {
  margin: 0;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}


.slide-in-right-enter {
  transform: translateX(100%);
}

.slide-in-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-right-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms;
}


.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  height: fit-content;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  overflow: visible;
  /* background-color: var(--background); */
  position: relative;
  padding-top: 1rem;
}