.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    height: 50px;
}

.animation {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
}


.view {
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow-x: hidden;
    border-radius: 2px;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.purple {
    min-width: 100%;
    height: 100%;
    background-color: var(--highlightColor);
}

.magenta {
    min-width: 100%;
    height: 100%;
    background-color: var(--highlightMagenta);
}

#btn-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#btn-text-disabled {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: not-allowed;
}

